fastapi==0.95.2
uvicorn==0.22.0
boto3>=1.28.0 
python-multipart==0.0.6
dotenv
moto
bandit
locust
pytest>=7.0.0
starlette==0.27.0  
httpx==0.24.1
typing
python-dotenv
pytest-cov
locust
pydantic
pytest-mock
locust 
flake8
checkout@v4