annotated-types
anyio
boto3
botocore
click
fastapi
h11
httptools
idna
jmespath
pydantic[email]
python-dateutil
python-dotenv
python-multipart
PyYAML
s3transfer
six
sniffio
starlette
typing-inspection
typing_extensions
urllib3
uvicorn[standard]
watchfiles
websockets
pydantic
email-validator
prometheus-client
pytest
httpx
uvicorn
flake8
bandit
moto
pytest-mock
requests
starlette-exporter

